@keyframes marquee-up {
    0% {transform: translateY(0);} 
    100% {transform: translateY(-50%)}
}

@keyframes marquee-down {
    0% {transform: translateY(-50%);}
    100% {transform: translateY(0);} 
}